<!DOCTYPE html>
<html>
<head> 
    <title>@ViewData["Title"] - Razor Pages Sample</title>      
</head>
<body>    
   <a asp-page="/Index">Home</a>
   <a asp-page="/Contact/Index">Contact</a>
   <a asp-page="/Movies/Index">Movies</a>
    @RenderBody()  
</body>
</html>